body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(20,31,39);
    /*background-image: linear-gradient(rgb(27,56,74), rgb(20,31,39));*/
    color: #38A1F3;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Stuff for table on stats page, #bossTable specific css */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table#bossTable tr:nth-child(even) {
    background-color: #141f27;
}

table#bossTable tr:nth-child(odd) {
    background-color: #142726;
}

table#bossTable th {
    background-color: black;
    color: white;
}