@{
    ViewBag.Title = "Contact";
}
<h2 style="color:#fff">@ViewBag.Title.</h2>
<h3 style="color:#ff8c00">Twitter</h3>

<address>
    <a href="https://twitter.com/OSRS_Hafad" target="_blank">&#64OSRS_Hafad</a><br />
    <a href="https://twitter.com/JoshBladess" target="_blank">&#64JoshBladess</a>
</address>

