@{
    ViewBag.Title = "Home Page";
}


<h1 style="text-align:center; color:#38A1F3">BossHQ</h1>

<div>
    <img src="~/Content/Pictures/1500x500.jpg" style="align-content:baseline">
</div>

<div class="jumbotron" style="background:transparent !important">
    <p class="lead">Search for your IGN</p>
    <div class="form-group" style="align-content:center">
        <div style="align-content:center">
            @using (Html.BeginForm("GetStats", "Stats", FormMethod.Post))
            {
                @Html.TextBox("ign", null, new { @class = "form-inline" });
                <input type="submit" value="Search" class="btn btn-info"/>
            }
        </div>
    </div>
</div>
