@model OSRSBossTracker.Models.UsersModel
@{
    ViewBag.Title = "Stats";
}

<h2>@Model.Name</h2>

<div>
    <table class="table">
        <tr>
            <th>Boss Name</th>
            <th>Kill Count</th>
            <th>Rank</th>
        </tr>
        <tr>
            <td>
                @foreach (var s in Model.bosses)
                {
                    @Html.Raw("Boss name goes here")
                    <br />
                }
            </td>
            <td>
                @foreach (var s in Model.bosses)
                {
                    @Html.DisplayFor(model => s.Kc)
                    <br />
                }
            </td>
            <td>
                @foreach (var s in Model.bosses)
                {
                    @Html.DisplayFor(model => s.Rank)
                    <br />
                }
            </td>
        </tr>
    </table>
</div>